{% extends "base_generic.html" %}

{% block title %}
    <title>Home - LocalLibrary</title>
{% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p>
        Welcome to LocalLibrary, a very basic Django website 
        developed by following a tutorial developed by
        <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django">
            <em>Mozilla Developer Network</em>
        </a>.
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books: </strong>{{ num_books }}</li>
        <li><strong>Copies: </strong>{{ num_instances }}</li>
        <li><strong>Copies available: </strong>{{ num_instances_available }}</li>
        <li><strong>Authors: </strong>{{ num_authors }}</li>
        <li><strong>Genre with word 'Horror' in it: </strong>{{ num_genres_with_word }}</li>
        <li><strong>Books with article 'The' in it: </strong>{{ num_books_with_word_the }}</li>
    </ul>

    <p>
        You have visited the index page {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}